$bannerHeight: 95vh;
$infoTabHeight: 479px;

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#img_parallax {
    background-image: url("../resources/van_gogh.jpg");
    background-size: cover;
    width: 100%;
    height: 3000px;
    z-index: 2;
    top: calc($bannerHeight);
    position: absolute;
    animation: parallax linear;
    animation-timeline: scroll(block nearest);
    animation-duration: 1ms;
    --parallax-speed: 1;
}

main {
    background-color: transparent;
    height: auto;
    width: 100%;
    display: block;
    z-index: 3;
    position: absolute;
    top: $bannerHeight;

}

@keyframes parallax {
    to {
        transform: 
            translateY(calc(var(--parallax-speed) * 350px));
    }
}

#info_tab {
    height: $infoTabHeight;
    width: 100%;
    background-color: grey;
    margin-bottom: 30px;
}

@media (max-aspect-ratio: 9/16) {
    $bannerHeight: 65vh;
}