@use 'App';

#banner {
    height: App.$bannerHeight;
    width: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    #background {
        background-image: url("../resources/banner.jpg");
        background-size: cover;
        background-position-x: right;
        position: fixed;
        top: 0px;
        z-index: 1;
        height: 100%;
        width: 100%;
    }

    #background_parallax {
        background-image: url("../resources/banner.jpg");
        background-size: cover;
        background-position-x: right;
        position: absolute;
        top: 0px;
        z-index: 1;
        height: 100%;
        width: 100%;
    }

    #gradient {
        position: absolute;
        top: 40%;
        background-image: linear-gradient(to top, black, transparent);
        z-index: 2;
        height: 60%;
        width: 100%;
    }

}

#signature {
    z-index: 10;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 33vh;
    canvas {
        width: 65vw;
        stroke-dasharray: 2000;
        stroke-dashoffset: 200;
    }
}

@media (max-width: 1280px) {
    #signature {
        top: 45vh;
        canvas {
            width: 75vw;
        }
    }
}

@media (max-width: 640px) {
    #signature {
        top: 65vh;
        canvas {
            width: 95vw;
        }
    }
}