#project_viewer {
    width: 80%;
    height: 600px;
    font-size: 25px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    z-index: 7;
    border-radius: 20px;
    padding: 25px;

    h2 {

    }

    p {

    }
}