#project_viewer {
    width: 80%;
    min-height: 600px;
    font-size: 25px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    z-index: 7;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;

    #title_img {
        position: absolute;
        z-index: 2;
        background-image: linear-gradient();
       }

    #header_div {
    position: relative;
    min-height: 40px;
    height: 10%;
        h2 {
            position: absolute;
            z-index: 2;
        }
    }
    
    #content_div {
        height: 90%;
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        #vid_div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            #vid {
                height: 100%;
            }
        }

        #info_div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 2%;

            #proj_desc {
                position: relative;
                height: 70%;
                min-height: 200px;
                width: 100%;
                border: black solid 1px;
                margin-bottom: 9px;
                padding: 2%;
            }

            #tech_stack {
                position: relative;
                height: 12%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 5%;

                    h3 {
                        
                    }

                #logos {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    height: 85%;

                    img {
                        height: 90%;
                        max-height: 100px;
                        cursor: pointer;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }

            #link_div {
                height: 100px;
                background-color: red;
                }
            }
        }
    }
    


    p {
        position: absolute;
        z-index: 2;
    }
}

@media (max-width: 660px){
    #project_viewer {
        min-height: 300px;
        #content_div {
            flex-direction: column;

            #info_div {
                #project_desc {
                    margin-top: 7%;
                }
            }


            #info_div {
                #tech_stack{
                    width: 80%;
                    #logos {
                        img {
                            max-height: 60px;
                        }
                    }
                }
            }
        }
    }
}
