#project_viewer {
    width: 80%;
    height: 600px;
    font-size: 25px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    z-index: 7;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;

    #title_img {
        position: absolute;
        z-index: 2;
        background-image: linear-gradient();
       }

    #header_div {
    position: relative;
    height: 10%;
        h2 {
            position: absolute;
            z-index: 2;
        }
    }
    
    #content_div {
        height: 90%;
        display: flex;
        flex-direction: row;
        #vid_div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            #vid {
                height: 100%;
            }
        }

        #info_div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 2%;

            #proj_desc {
                position: relative;
                height: 70%;
                width: 100%;
                border: black solid 1px;
                margin-bottom: 9px;
            }

            #tech_stack {
                height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                    h3 {
                        
                    }

                #logos {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    height: 85%;

                    img {
                        height: 90%;
                        cursor: pointer;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }

            #link_div {
                height: 100px;
                background-color: red;
                }
            }
        }
    }
    


    p {
        position: absolute;
        z-index: 2;
    }
}
